// Variables
$primary-color: #1E90FF;
$primary-color-dark: darken($primary-color, 10%);
$background-color: #f1ebeb;
$text-color: #333333;
$border-color: #A9A9A9;
$input-padding: 12px;
$input-margin: 10px;
$button-padding: 15px 25px;
$border-radius: 5px;
$heading-font-size: 32px;
$second-heading-font-size: 23px;
$form-margin: 20px;


// Global Styles
body {
    background-color: $background-color;
    color: $text-color;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: end;
    padding: $border-radius;

    div {
        margin: 0 $border-radius;
    }
}

.h-1 {
    color: $primary-color;
    font-size: $heading-font-size;
    font-weight: bold;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

// Logo
.logo {
    display: block;
    margin: 0 auto 20px;
    width: 80px;
    height: 80px;
}

// Tabs
.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;

    .tab {
        font-size: 18px;
        padding: 10px 20px;
        cursor: pointer;
        border-bottom: 2px solid transparent;

        &.active {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}

.user-signup {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

}

// Form
form {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: $form-margin 0;

    label {
        text-align: left;
        margin-bottom: 5px;
        font-size: 14px;
    }

    input {
        padding: $input-padding;
        margin-bottom: $input-margin;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        font-size: 16px;
    }

    .forgot-password {
        font-size: 14px;
        color: $primary-color;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    .link {
        color: blue
    }
}

.teams-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: $heading-font-size 0px;

    .team-row-element {
        margin: $input-margin;

        border: $border-color solid 1px;
        padding: $input-padding;
        color: $text-color;
        font-size: $second-heading-font-size;
        font-weight: bold;
    }

}

// Button
button {
    padding: $button-padding;
    border-radius: $border-radius;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: $primary-color;
    color: $background-color;

    &:hover {
        background-color: $primary-color-dark;
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba($primary-color, 0.5);
    }

    &:active {
        background-color: $primary-color-dark;
    }
}

.task-status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    background-color: #f0f0f0;
  }
  
  .task-status-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    padding: 10px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .task-cards {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .task-card {
    background-color: white;
    color: black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: left;
  }
  
  .task-card h4 {
    margin: 0;
    font-size: 1em;
  }
  
  .task-card p {
    margin: 5px 0 0;
    font-size: 0.9em;
  }
  